*{
	margin: 0;
	padding: 0;
}
body{
	height: 600px;
	width: 600px;
}
.flex-container{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
.flex-block{
	display: inline-flex;
	background-color: #850000;
	flex: 1 1 200px;
	height: 200px;
}
.flex-block-i{
	display: inline-flex;
	flex: 1 1 200px;
	background-color: #fff;
	align-self: center;
	margin: auto;
}